<!DOCTYPE html>
<html lang="en" ng-app="simulatorApp">
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <title id="title_tag">SimSpellstone - The Spellstone Simulator that runs from your browser!</title>
    <link id="theme" rel="stylesheet" type="text/css" href="dist/light.min.css?ae091847c9d2a4ce">
    <link rel="stylesheet" type="text/css" href="dist/main.min.css?533868e363be0168">
    <link rel="stylesheet" type="text/css" href="dist/spritesheet.min.css?be3696e61cc06330">
    <link rel="icon" type="image/png" href="res/favicon-16x16.png">
    <!--<link rel="stylesheet" href="Content/themes/base/smoothness.css?77adc541adae20cf">-->

    <script src="dist/vendor.js"></script>
    <script src="dist/data.min.js"></script>
    <script src="dist/simulator.min.js?eefaa5ea373e55f6"></script>
</head>
<body ng-controller="SimulatorCtrl" ng-init="campaignSections()">
    <header id="header"></header>
    <input id="toggleTheme" type="button" value="Dark Theme" />
    <!--
    <div class="circle primary-black">Primary-Black</div>
    <div class="circle primary-neutral">Primary-Neutral</div>
    <div class="circle primary-color">Primary</div>
    <div class="circle primary-tint">Primary-Tint</div>
    <div class="circle primary-white">Primary-White</div>
    <br/>
    <div class="circle secondary-black">Secondary-Black</div>
    <div class="circle secondary-neutral">Secondary-Neutral</div>
    <div class="circle secondary-color">Secondary</div>
    <div class="circle secondary-tint">Secondary-Tint</div>
    <div class="circle secondary-white">Secondary-White</div>
    -->
    <div id="ui">
        <form>
            <hr />
            <div id="setup-container" class="section accordion start-open">
                <h2>Setup</h2>
                <div>
                    <div class="grid-row">
                        <div id="attacker-container" class="grid-pane">
                            <h3>Attacker</h3>
                            <div>
                                <div id="attacker-hash-container">
                                    <div><label for="deck1">Deck Hash:</label></div>
                                    <input id="deck1" type="text" value="" onfocus="$(this).select();">
                                </div>
                                <input id="edit-player" type="button" onclick="load_deck_builder('player');" value="Edit" />
                                <input id="load-player" type="button" value="Load" />
                                <div id="attacker-advanced">
                                    <h6>Advanced Settings</h6>
                                    <div id="deckContainer" class="collapsible">
                                        <div id="ordered-container"><input type="checkbox" id="ordered"><label for="ordered">Ordered</label></div>
                                        <div id="exactorder-container"><input type="checkbox" id="exactorder"><label for="exactorder">Don't Shuffle</label></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="defender-container" class="grid-pane">
                            <h3>Defender</h3>
                            <div>
                                <div id="defender-hash-container">
                                    <div>
                                        <div><label for="deck2">Enemy Deck Hash:</label></div>
                                        <input type="text" id="deck2" value="" onfocus="$(this).select();">
                                    </div>
                                    <input id="edit-cpu" type="button" onclick="load_deck_builder('cpu');" value="Edit" />
                                    <input id="load-cpu" type="button" value="Load" />
                                </div>
                                <div id="pve-container">
                                    <h6>PvE Decks</h6>
                                    <div>
                                        <div><span class="label">Campaign:</span></div>
                                        <div id="location-container">
                                            <select id="location" class="fill" ng-model="selections.location" ng-class="getLocationClass()" ng-disabled="selections.raid !== ''">
                                                <option default value="" class="grey" width="160">
                                                    Select a Location...
                                                </option>
                                                <option ng-repeat="location in locations" value="{{location.id}}" ng-class="getLocationClass(location)" ng-disabled="selections.raid !== ''">{{location.name}}</option>
                                            </select>
                                        </div>
                                        <div id="campaign-container">
                                            <select id="campaign" class="fill" ng-model="selections.campaign" ng-class="getCampaignClass()" ng-disabled="selections.location === ''">
                                                <option default value="" class="grey">
                                                    Select a Campaign...
                                                </option>
                                                <option ng-repeat="campaign in campaigns | filterByParent:selections.location:'location_id'" value="{{campaign.id}}" ng-class="getCampaignClass(campaign)">{{campaign.name}}</option>
                                            </select>
                                        </div>
                                        <div id="mission-container">
                                            <select id="mission" class="fill" ng-model="selections.mission" ng-class="{grey:selections.mission === ''}" ng-disabled="selections.campaign === ''">
                                                <option default value="" class="grey">Select a Mission...</option>
                                                <option ng-repeat="mission in missions | filterChildren:selections.campaign:campaigns:'missions':'id'" value="{{mission.id}}" class="black">{{mission.name}}</option>
                                            </select>
                                            <label for="mission_level" class="small-font">Level: </label>
                                            <input type="NUMBER" id="mission_level" min="1" max="8" step="1" value="7" size="6">
                                        </div>
                                        <input id="config-map-bge" type="button" onclick="showMapBGEs();" value="Map BGEs" ng-disabled="(mapBattlegrounds | filterByParent:selections.location:'location_id').length === 0" />
                                        <br />
                                        <div id="raid-container">
                                            <div><span class="label">Raid/Dungeon:</span></div>
                                            <select id="raid" ng-model="selections.raid" ng-class="{grey:selections.raid === ''}" ng-disabled="selections.campaign !== ''">
                                                <option default value="" class="grey">Select a Raid/Dungeon...</option>
                                                <option ng-repeat="raid in filteredRaids()" value="{{raid.id}}" class="black">{{raid.name}}</option>
                                            </select>
                                            <label for="raid_level" class="small-font">Level: </label>
                                            <input type="NUMBER" id="raid_level" min="1" max="40" step="1" value="25" size="6">
                                        </div>
                                    </div>
                                </div>
                                <div id="defender-advanced">
                                    <h6>Advanced Settings</h6>
                                    <div>
                                        <input type="checkbox" id="ordered2"><label for="ordered2">Ordered</label><br />
                                        <input type="checkbox" id="exactorder2"><label for="exactorder2">Don't Shuffle</label><br />
                                        <input type="checkbox" id="surge"><label for="surge">Defender First</label><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-pane">
                            <div>
                                <h3>Battlefield</h3>
                            </div>
                            <div id="tower-container">
                                <h6>Tower</h6>
                                <div id="siege-container">
                                    <input type="checkbox" id="siege" ng-model="tower"><label for="siege">Use Tower</label>
                                </div>
                                <input type="number" id="tower_level" min="1" max="18" step="1" value="10" size="6" ng-disabled="!tower">
                                <select id="tower_type" ng-disabled="!tower">
                                    <option ng-repeat="type in towerTypes()" value="{{type.id}}">{{type.name}}</option>
                                </select>
                            </div>
                            <div id="bge-container">
                                <h6>Battleground Effects</h6>
                                <div style="height: 103px;" class="bge-container">
                                    <div id="battleground" class="bge-list">
                                        <div ng-repeat="BGE in selectableBattlegrounds()" class="tooltip-container" ng-class="BGE.classes">
                                            <input type="checkbox" name="battleground" id="battleground_{{BGE.id}}" value="{{BGE.id}}">
                                            <label for="battleground_{{BGE.id}}" bge-desc="{{BGE.desc}}" ng-bind="BGE.name"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="attacker-bges">
                                <h6>Personal Battlegrounds</h6>
                                <div style="height: 40px;" class="bge-container">
                                    <div id="self-battleground" class="bge-list">
                                        <div ng-repeat="BGE in personalBattlegrounds()" class="tooltip-container">
                                            <input type="checkbox" name="self-battleground" id="self-battleground_{{BGE.id}}" value="{{BGE.id}}">
                                            <label for="self-battleground_{{BGE.id}}" bge-desc="{{BGE.desc}}" ng-bind="BGE.name"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="defender-bges">
                                <h6>Enemy Battlegrounds</h6>
                                <div style="height: 40px;" class="bge-container">
                                    <div id="enemy-battleground" class="bge-list">
                                        <div ng-repeat="BGE in personalBattlegrounds()" class="tooltip-container">
                                            <input type="checkbox" name="enemy-battleground" id="enemy-battleground_{{BGE.id}}" value="{{BGE.id}}">
                                            <label for="enemy-battleground_{{BGE.id}}" bge-desc="{{BGE.desc}}" ng-bind="BGE.name"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div id="optimization-container" class="section accordion">
                <h2>Optimisation</h2>
                <div>
                    <p>Evaluate the impact of each card in the attacker deck by simulating the deck without it.</p>
                    <div class="grid-row">
                        <div class="grid-pane">
                            <label for="optimization-sims">Simulations per duel:</label>
                            <input type="number" id="optimization-sims" min="1" step="1" value="10000">
                        </div>
                        <div class="grid-pane">
                            <label for="optimization-replacements">Replacement deck hash:</label>
                            <input type="text" id="optimization-replacements" value="" onfocus="this.select();">
                        </div>
                        <div class="grid-pane">
                            <label for="hero-hash">Hero hash:</label>
                            <input type="text" id="hero-hash" value="" onfocus="this.select();">
                        </div>
                        <div class="grid-pane" style="display: flex; align-items: flex-end; gap: 0.5em; flex-wrap: wrap;">
                            <input id="rank-cards" type="button" value="Rank Cards" />
                            <input id="rank-heroes" type="button" value="Rank Heroes" />
                            <input id="rank-purple-runes" type="button" value="Rank Purple Runes" />
                            <input id="optimize-deck" type="button" value="Optimise Deck" />
                        </div>
                    </div>
                    <div id="optimization-results" class="table" style="margin-top: 1em;"></div>
                    <div id="hero-optimization-results" class="table" style="margin-top: 1em;"></div>
                    <div id="rune-optimization-results" class="table" style="margin-top: 1em;"></div>
                    <div id="hero-optimization-log" class="table" style="margin-top: 1em;"></div>
                    <div id="optimization-steps" class="table" style="margin-top: 1em;"></div>
                </div>
            </div>
            <hr />
            <div>
                <div class="section accordion">
                    <h2>Debug Settings</h2>
                    <div>
                        <div id="debugContainer" class="collapsible table">
                            <div class="table-row">
                                <div class="table-cell">
                                    <input type="checkbox" id="debug" ng-model="debugMode"><label for="debug">Debug Mode</label>
                                </div>
                                <div class="table-cell">
                                    <input type="checkbox" id="play_debug" ng-disabled="!debugMode"><label for="play_debug">Log Plays Only</label>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell">
                                    <input type="radio" name="debugType" checked ng-disabled="!debugMode"><label>First Fight</label>
                                </div>
                                <div class="table-cell">
                                    <input type="radio" name="debugType" id="mass_debug" ng-disabled="!debugMode"><label>Mass Debug Mode (slow)</label>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell">
                                    <input type="radio" name="debugType" id="win_debug" ng-disabled="!debugMode"><label>First Win</label>
                                </div>
                                <div class="table-cell">
                                    <input type="radio" name="debugType" id="loss_debug" ng-disabled="!debugMode"><label>First Loss</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div id="view-container" class="section accordion">
                <h2>View Decks</h2>
                <div class="tableRow">
                    <div class="deckView">
                        <h3>Attacker</h3>
                        <div>
                            <div id="attack_deck" class="float-left"></div>
                        </div>
                    </div>
                    <div class="deckView">
                        <h3>Defender</h3>
                        <div>
                            <div id="defend_deck" class="float-left"></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div id="sims-container" class="inline">
                <label for="sims">Number of Simulations: </label><input type="text" id="sims">
            </div><br />
            <input id="btn_simulate" type="button" value="Simulate" style="text-align: center; font-weight: bold;" />
            <input type="button" id="generate_link" value="Generate Link" style="text-align: center; font-weight: normal;" />
            <input type="button" id="display_history" value="Show History" style="text-align: center; font-weight: normal;" />
        </form>
    </div>
    <br />
    <div id="cardSpace" class="flaot-left"></div>
    <br />
    <span id="stop" style="display: none;"><input id="btnStop" type="button" value="Stop Sim(s)" onclick="SIM_CONTROLLER.stopsim()"><br />TIP: Switching browser tabs may cause your simulation to pause!</span>
    <br />
    <div id="simulationStatus" style="display:none">
        <strong id="simStatusMsg"></strong> <span id="progress"></span>
        <div id="speed">
            <span id="elapsed"></span> seconds<br />
            <span id="simsPerSec"></span> simulations per second<br>
        </div>
    </div>
    <div id="winrateTable" style="display:none;">
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="5" style="border: 1px solid #000000;">
                            <tbody>
                                <tr><td>Wins</td><td id="wins"></td><td id="winrate"></td></tr>
                                <tr><td>Losses</td><td id="losses"></td><td id="lossrate"></td></tr>
                                <tr><td>Draws</td><td id="draws"></td><td id="drawrate"></td></tr>
                                <tr><td>+/-</td><td id="marginGames">1105</td><td id="marginPercent">0.00%</td></tr>
                                <tr style="background-color: #000; color: #fff;"><td>Battles</td><td class="battleCount">843817</td><td id="percentComplete"></td></tr>
                            </tbody>
                        </table>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <table cellspacing="0" cellpadding="5" style="border: 1px solid #000000;">
                            <tbody>
                                <tr><td>Avg. Battle Length</td><td id="avgLength"></td></tr>
                                <tr><td>Avg. Points</td><td id="avgPoints"></td></tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <span id="content"></span>
    <!-- Dialogs -->
    <div id="dialogHolder" style="display:none;">
        <div id="loadDeckDialog" title="Load Deck" ng-controller="DeckStorageCtrl">
            <label for="loadDeckName"><strong>Deck:</strong></label><br />
            <select name="loadDeckName" id="loadDeckName" class="ui-widget-content ui-corner-all" style="width:100%;">
                <option ng-repeat="key in keys(getSavedDecks()) | orderBy:'toString()'" value="{{key}}">{{key}}</option>
            </select>
        </div>
        <div id="bgeDialog" title="Map BGEs">
            <div ng-repeat="BGE in mapBattlegrounds | filterByParent:selections.location:'location_id'">
                <label>{{BGE.name}}</label>
                <div ng-repeat="(key, effect) in BGE.effects">
                    <label>{{effect.name}}</label>
                    <select name="map-battleground" class="ui-widget-content ui-corner-all" style="width:100%;">
                        <option ng-repeat="(key, upgrade) in effect.upgrades" value="{{$index}}">{{upgrade.desc}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="modal"><span id="loadingSplash">Loading...</span></div>

    <div id="tooltip">
        <div id="tooltip-text"></div>
        <div class="arrow"></div>
    </div>

    <footer id="footer"></footer>
    <script src="optimisation/deck_card_analysis.js"></script>
    <script>
        (function () {
            const rankButton = document.getElementById('rank-cards');
            const rankHeroesButton = document.getElementById('rank-heroes');
            const optimizeButton = document.getElementById('optimize-deck');
            const rankPurpleRunesButton = document.getElementById('rank-purple-runes');
            const replacementsInput = document.getElementById('optimization-replacements');
            const resultsContainer = document.getElementById('optimization-results');
            const heroResultsContainer = document.getElementById('hero-optimization-results');
            const heroLogContainer = document.getElementById('hero-optimization-log');
            const heroHashInput = document.getElementById('hero-hash');
            const stepsContainer = document.getElementById('optimization-steps');
            const simulationsInput = document.getElementById('optimization-sims');
            const runeResultsContainer = document.getElementById('rune-optimization-results');

            if (!resultsContainer || !simulationsInput) {
                return;
            }

            function formatPercent(value) {
                return `${(value * 100).toFixed(2)}%`;
            }

            function cloneUnitInfo(unitInfo) {
                if (!unitInfo) {
                    return unitInfo;
                }
                const clone = Object.assign({}, unitInfo);
                if (Array.isArray(unitInfo.runes)) {
                    clone.runes = unitInfo.runes.slice();
                }
                if (Array.isArray(unitInfo.subskills)) {
                    clone.subskills = unitInfo.subskills.slice();
                }
                return clone;
            }

            function describeUnit(unitInfo) {
                if (!unitInfo || typeof getCardByID !== 'function') {
                    return 'Unknown hero';
                }
                const card = getCardByID(unitInfo);
                if (!card) {
                    return 'Unknown hero';
                }
                const runeSuffix = card.runes && card.runes.length ? '*' : '';
                const levelInfo = card.maxLevel > 1 ? ` {${card.level}/${card.maxLevel}}` : '';
                return `${card.name}${runeSuffix}${levelInfo}`;
            }

            function formatHeroLabel(unitInfo, tracker) {
                const baseLabel = describeUnit(unitInfo);
                const count = (tracker[baseLabel] || 0) + 1;
                tracker[baseLabel] = count;
                return count > 1 ? `${baseLabel} #${count}` : `${baseLabel} #1`;
            }

            function renderError(message) {
                resultsContainer.innerHTML = '';
                const paragraph = document.createElement('p');
                paragraph.className = 'error';
                paragraph.textContent = message;
                resultsContainer.appendChild(paragraph);
            }

            function renderHeroError(message) {
                if (heroResultsContainer) {
                    heroResultsContainer.innerHTML = '';
                    const paragraph = document.createElement('p');
                    paragraph.className = 'error';
                    paragraph.textContent = message;
                    heroResultsContainer.appendChild(paragraph);
                }
                if (heroLogContainer) {
                    heroLogContainer.innerHTML = '';
                }
            }

            function renderRuneError(message) {
                if (runeResultsContainer) {
                    runeResultsContainer.innerHTML = '';
                    const paragraph = document.createElement('p');
                    paragraph.className = 'error';
                    paragraph.textContent = message;
                    runeResultsContainer.appendChild(paragraph);
                }
            }

            function renderRuneResults(results) {
                if (!runeResultsContainer) return;
                runeResultsContainer.innerHTML = '';
                if (!Array.isArray(results) || results.length === 0) {
                    const paragraph = document.createElement('p');
                    paragraph.textContent = 'No applicable purple runes found for any card.';
                    runeResultsContainer.appendChild(paragraph);
                    return;
                }

                results.forEach((entry) => {
                    if (!entry || !Array.isArray(entry.runeRankings) || entry.runeRankings.length === 0) return;
                    const title = document.createElement('h4');
                    title.textContent = entry.label;
                    runeResultsContainer.appendChild(title);

                    const table = document.createElement('table');
                    table.className = 'table data-table';
                    const head = document.createElement('thead');
                    const headerRow = document.createElement('tr');
                    ['Rune', 'Win% With', 'Win% Without', 'Draw%', 'Impact', 'Wins (With/Without/Draws)'].forEach((label) => {
                        const th = document.createElement('th');
                        th.textContent = label;
                        headerRow.appendChild(th);
                    });
                    head.appendChild(headerRow);
                    table.appendChild(head);

                    const body = document.createElement('tbody');
                    entry.runeRankings.forEach((r) => {
                        const row = document.createElement('tr');
                        const withPct = formatPercent(r.stats.playerWinrate);
                        const withoutPct = formatPercent(r.stats.cpuWinrate);
                        const drawPct = formatPercent(r.stats.drawRate);
                        const impactPct = formatPercent(r.impact);

                        const cols = [
                            r.runeDesc,
                            withPct,
                            withoutPct,
                            drawPct,
                            impactPct,
                            `${String(r.stats.playerWins)} / ${String(r.stats.cpuWins)} / ${String(r.stats.draws)}`
                        ];
                        cols.forEach((text) => {
                            const td = document.createElement('td');
                            td.textContent = text;
                            row.appendChild(td);
                        });

                        body.appendChild(row);
                    });
                    table.appendChild(body);
                    runeResultsContainer.appendChild(table);
                });
            }

            function buildHeroDeckHash(heroUnit, baseDeckCards) {
                const deckDefinition = {
                    commander: cloneUnitInfo(heroUnit),
                    deck: Array.isArray(baseDeckCards) ? baseDeckCards.map(cloneUnitInfo) : []
                };
                return hash_encode(deckDefinition);
            }

            function extractHeroesFromHash(heroHash) {
                if (!heroHash) {
                    return [];
                }

                const decoded = hash_decode(heroHash);
                if (!decoded) {
                    return [];
                }

                const heroes = [];
                const tracker = {};
                const canCheckCommander = typeof is_commander === 'function';

                if (decoded.commander && (!canCheckCommander || is_commander(decoded.commander.id))) {
                    heroes.push({ unit: cloneUnitInfo(decoded.commander) });
                }

                if (Array.isArray(decoded.deck)) {
                    decoded.deck.forEach((unitInfo) => {
                        if (!unitInfo) {
                            return;
                        }
                        if (!canCheckCommander || is_commander(unitInfo.id)) {
                            heroes.push({ unit: cloneUnitInfo(unitInfo) });
                        }
                    });
                }

                return heroes.map((entry) => ({
                    unit: entry.unit,
                    label: formatHeroLabel(entry.unit, tracker)
                }));
            }

            function renderHeroResults(bestHero, bestStats, duelLogs) {
                if (heroResultsContainer) {
                    heroResultsContainer.innerHTML = '';

                    if (!bestHero || !bestStats) {
                        const paragraph = document.createElement('p');
                        paragraph.textContent = 'No hero results available.';
                        heroResultsContainer.appendChild(paragraph);
                    } else {
                        const summary = document.createElement('p');
                        summary.innerHTML = `Best hero: <strong>${bestHero.label}</strong>`;
                        heroResultsContainer.appendChild(summary);

                        const winrateParagraph = document.createElement('p');
                        winrateParagraph.textContent = `Winrate vs defender deck: ${formatPercent(bestStats.playerWinrate)} (Wins: ${bestStats.playerWins}, Losses: ${bestStats.cpuWins}, Draws: ${bestStats.draws})`;
                        heroResultsContainer.appendChild(winrateParagraph);

                        const totalSimulations = bestStats.total || (bestStats.playerWins + bestStats.cpuWins + bestStats.draws);
                        const simulationsParagraph = document.createElement('p');
                        simulationsParagraph.textContent = `Simulations: ${totalSimulations}`;
                        heroResultsContainer.appendChild(simulationsParagraph);
                    }
                }

                if (heroLogContainer) {
                    heroLogContainer.innerHTML = '';

                    if (!duelLogs || duelLogs.length === 0) {
                        const paragraph = document.createElement('p');
                        paragraph.textContent = 'No duels were simulated. Provide at least two heroes to compare.';
                        heroLogContainer.appendChild(paragraph);
                        return;
                    }

                    const table = document.createElement('table');
                    table.className = 'table data-table';

                    const head = document.createElement('thead');
                    const headerRow = document.createElement('tr');
                    ['Iteration', 'Champion', 'Champion Win%', 'Challenger', 'Challenger Win%', 'Winner', 'Wins (Champion/Challenger/Draws)'].forEach((label) => {
                        const th = document.createElement('th');
                        th.textContent = label;
                        headerRow.appendChild(th);
                    });
                    head.appendChild(headerRow);
                    table.appendChild(head);

                    const body = document.createElement('tbody');
                    duelLogs.forEach((log) => {
                        const row = document.createElement('tr');

                        const iterationCell = document.createElement('td');
                        iterationCell.textContent = log.iteration;
                        row.appendChild(iterationCell);

                        const championCell = document.createElement('td');
                        championCell.textContent = log.championLabel;
                        row.appendChild(championCell);

                        const championWinrateCell = document.createElement('td');
                        championWinrateCell.textContent = formatPercent(log.championWinrate);
                        row.appendChild(championWinrateCell);

                        const challengerCell = document.createElement('td');
                        challengerCell.textContent = log.challengerLabel;
                        row.appendChild(challengerCell);

                        const challengerWinrateCell = document.createElement('td');
                        challengerWinrateCell.textContent = formatPercent(log.challengerWinrate);
                        row.appendChild(challengerWinrateCell);

                        const winnerCell = document.createElement('td');
                        winnerCell.textContent = log.winner;
                        row.appendChild(winnerCell);

                        const winsCell = document.createElement('td');
                        const draws = log.championStats && typeof log.championStats.draws === 'number'
                            ? log.championStats.draws
                            : (log.challengerStats && typeof log.challengerStats.draws === 'number' ? log.challengerStats.draws : 0);
                        const championWins = log.championStats && typeof log.championStats.playerWins === 'number' ? log.championStats.playerWins : 0;
                        const challengerWins = log.challengerStats && typeof log.challengerStats.playerWins === 'number' ? log.challengerStats.playerWins : 0;
                        winsCell.textContent = `${championWins}/${challengerWins}/${draws}`;
                        row.appendChild(winsCell);

                        body.appendChild(row);
                    });

                    table.appendChild(body);
                    heroLogContainer.appendChild(table);
                }
            }

            function renderResults(results) {
                resultsContainer.innerHTML = '';

                if (!Array.isArray(results) || results.length === 0) {
                    const paragraph = document.createElement('p');
                    paragraph.textContent = 'No cards found in the attacker deck.';
                    resultsContainer.appendChild(paragraph);
                    return;
                }

                const table = document.createElement('table');
                table.className = 'table data-table';

                const head = document.createElement('thead');
                const headerRow = document.createElement('tr');
                ['Card', 'Without Win%', 'With Win%', 'Draw%', 'Impact%', 'Wins (Without/With/Draws)', 'Trimmed Deck'].forEach((label) => {
                    const th = document.createElement('th');
                    th.textContent = label;
                    headerRow.appendChild(th);
                });
                head.appendChild(headerRow);
                table.appendChild(head);

                const body = document.createElement('tbody');
                results.forEach(({ label, stats, trimmedHash }) => {
                    const row = document.createElement('tr');

                    const cardCell = document.createElement('td');
                    cardCell.textContent = label;
                    row.appendChild(cardCell);

                    const withoutCell = document.createElement('td');
                    withoutCell.textContent = formatPercent(stats.cpuWinrate);
                    row.appendChild(withoutCell);

                    const withCell = document.createElement('td');
                    withCell.textContent = formatPercent(stats.playerWinrate);
                    row.appendChild(withCell);

                    const drawCell = document.createElement('td');
                    drawCell.textContent = formatPercent(stats.drawRate);
                    row.appendChild(drawCell);

                    const impactCell = document.createElement('td');
                    impactCell.textContent = formatPercent(stats.impact);
                    row.appendChild(impactCell);

                    const winsCell = document.createElement('td');
                    winsCell.textContent = `${stats.cpuWins}/${stats.playerWins}/${stats.draws}`;
                    row.appendChild(winsCell);

                    const hashCell = document.createElement('td');
                    const hashCode = document.createElement('code');
                    hashCode.textContent = trimmedHash;
                    hashCell.appendChild(hashCode);
                    row.appendChild(hashCell);

                    body.appendChild(row);
                });

                table.appendChild(body);
                resultsContainer.appendChild(table);
            }

            function renderOptimizationError(message) {
                if (!stepsContainer) {
                    return;
                }
                stepsContainer.innerHTML = '';
                const paragraph = document.createElement('p');
                paragraph.className = 'error';
                paragraph.textContent = message;
                stepsContainer.appendChild(paragraph);
            }

            function renderOptimizationSteps(summary) {
                if (!stepsContainer) {
                    return;
                }

                stepsContainer.innerHTML = '';

                if (!summary) {
                    return;
                }

                const finalParagraph = document.createElement('p');
                finalParagraph.innerHTML = `Final deck hash: <code>${summary.finalDeckHash}</code>`;
                stepsContainer.appendChild(finalParagraph);

                if (!Array.isArray(summary.steps) || summary.steps.length === 0) {
                    const paragraph = document.createElement('p');
                    paragraph.textContent = 'No replacements were applied.';
                    stepsContainer.appendChild(paragraph);
                    return;
                }

                const table = document.createElement('table');
                table.className = 'table data-table';

                const head = document.createElement('thead');
                const headerRow = document.createElement('tr');
                ['Step', 'Removed Card', 'Added Card', 'Outcome', 'Win% (New/Old)', 'Resulting Deck Hash'].forEach((label) => {
                    const th = document.createElement('th');
                    th.textContent = label;
                    headerRow.appendChild(th);
                });
                head.appendChild(headerRow);
                table.appendChild(head);

                const body = document.createElement('tbody');
                summary.steps.forEach((step) => {
                    const row = document.createElement('tr');

                    const stepCell = document.createElement('td');
                    stepCell.textContent = step.iteration;
                    row.appendChild(stepCell);

                    const removedCell = document.createElement('td');
                    removedCell.textContent = step.removedCard && step.removedCard.label ? step.removedCard.label : 'Unknown card';
                    row.appendChild(removedCell);

                    const addedCell = document.createElement('td');
                    addedCell.textContent = step.addedCard && step.addedCard.description ? step.addedCard.description : 'Unknown card';
                    row.appendChild(addedCell);

                    const outcomeCell = document.createElement('td');
                    outcomeCell.textContent = step.accepted ? 'Accepted' : 'Rejected';
                    row.appendChild(outcomeCell);

                    const winrateCell = document.createElement('td');
                    const newRate = step.stats ? formatPercent(step.stats.playerWinrate) : '0.00%';
                    const oldRate = step.stats ? formatPercent(step.stats.cpuWinrate) : '0.00%';
                    winrateCell.textContent = `${newRate} / ${oldRate}`;
                    row.appendChild(winrateCell);

                    const hashCell = document.createElement('td');
                    const hashCode = document.createElement('code');
                    hashCode.textContent = step.resultingDeckHash || '';
                    hashCell.appendChild(hashCode);
                    row.appendChild(hashCell);

                    body.appendChild(row);
                });

                table.appendChild(body);
                stepsContainer.appendChild(table);
            }

            if (rankButton) {
                rankButton.addEventListener('click', function () {
                    if (!window.DeckCardAnalysis || typeof window.DeckCardAnalysis.run !== 'function') {
                        renderError('Deck analysis module is not available.');
                        return;
                    }

                    const deckInput = document.getElementById('deck1');
                    const deckHash = deckInput ? deckInput.value.trim() : '';
                    if (!deckHash) {
                        renderError('Enter an attacker deck hash before ranking cards.');
                        return;
                    }

                    const simulations = Number.parseInt(simulationsInput.value, 10);
                    if (!Number.isFinite(simulations) || simulations <= 0) {
                        renderError('Simulations per duel must be a positive number.');
                        return;
                    }

                    resultsContainer.innerHTML = '<p>Calculating...</p>';

                    window.setTimeout(() => {
                        try {
                            const analysis = window.DeckCardAnalysis.run(deckHash, simulations);
                            renderResults(analysis.results);
                        } catch (error) {
                            console.error(error);
                            renderError(error && error.message ? error.message : 'An unexpected error occurred during analysis.');
                        }
                    }, 10);
                });
            }

            if (rankHeroesButton) {
                rankHeroesButton.addEventListener('click', function () {
                    if (!window.DeckCardAnalysis || typeof window.DeckCardAnalysis.simulateMatchup !== 'function') {
                        renderHeroError('Deck analysis module is not available.');
                        return;
                    }

                    const heroHash = heroHashInput ? heroHashInput.value.trim() : '';
                    if (!heroHash) {
                        renderHeroError('Enter a hero hash before ranking heroes.');
                        return;
                    }

                    const deckInput = document.getElementById('deck1');
                    const deckHash = deckInput ? deckInput.value.trim() : '';
                    if (!deckHash) {
                        renderHeroError('Enter an attacker deck hash before ranking heroes.');
                        return;
                    }

                    const enemyInput = document.getElementById('deck2');
                    const enemyDeckHash = enemyInput ? enemyInput.value.trim() : '';
                    if (!enemyDeckHash) {
                        renderHeroError('Enter an enemy deck hash before ranking heroes.');
                        return;
                    }

                    const simulations = Number.parseInt(simulationsInput.value, 10);
                    if (!Number.isFinite(simulations) || simulations <= 0) {
                        renderHeroError('Simulations per duel must be a positive number.');
                        return;
                    }

                    if (heroResultsContainer) {
                        heroResultsContainer.innerHTML = '<p>Calculating...</p>';
                    }
                    if (heroLogContainer) {
                        heroLogContainer.innerHTML = '';
                    }

                    window.setTimeout(() => {
                        try {
                            if (typeof window.DeckCardAnalysis.bootstrapSimulationEnvironment === 'function') {
                                window.DeckCardAnalysis.bootstrapSimulationEnvironment();
                            }

                            const heroes = extractHeroesFromHash(heroHash);
                            if (!heroes.length) {
                                throw new Error('No heroes were found in the provided hero hash.');
                            }

                            const baseDeck = hash_decode(deckHash);
                            if (!baseDeck || !Array.isArray(baseDeck.deck)) {
                                throw new Error('Unable to decode the attacker deck hash.');
                            }

                            const baseDeckCards = baseDeck.deck.map(cloneUnitInfo);
                            const duelLogs = [];
                            const normalizedSimulations = Math.max(1, Math.floor(simulations));
                            const enemyHash = enemyDeckHash;

                            const initialHero = heroes[0];
                            const initialDeckHash = buildHeroDeckHash(initialHero.unit, baseDeckCards);
                            let bestHero = initialHero;
                            let bestStats = window.DeckCardAnalysis.simulateMatchup(initialDeckHash, enemyHash, normalizedSimulations);

                            for (let index = 1; index < heroes.length; index += 1) {
                                const challenger = heroes[index];
                                const challengerDeckHash = buildHeroDeckHash(challenger.unit, baseDeckCards);
                                const challengerStats = window.DeckCardAnalysis.simulateMatchup(challengerDeckHash, enemyHash, normalizedSimulations);

                                const previousChampionLabel = bestHero.label;
                                const championStatsSnapshot = Object.assign({}, bestStats);
                                const championWinrate = bestStats.playerWinrate;
                                const challengerWinrate = challengerStats.playerWinrate;
                                let winnerLabel = previousChampionLabel;

                                if (challengerWinrate > championWinrate) {
                                    winnerLabel = challenger.label;
                                    bestHero = challenger;
                                    bestStats = challengerStats;
                                } else if (challengerWinrate === championWinrate) {
                                    winnerLabel = 'Tie';
                                }

                                duelLogs.push({
                                    iteration: index + 1,
                                    championLabel: previousChampionLabel,
                                    challengerLabel: challenger.label,
                                    championStats: championStatsSnapshot,
                                    challengerStats,
                                    winner: winnerLabel,
                                    championWinrate,
                                    challengerWinrate
                                });
                            }

                            renderHeroResults(bestHero, bestStats, duelLogs);
                        } catch (error) {
                            console.error(error);
                            renderHeroError(error && error.message ? error.message : 'An unexpected error occurred while ranking heroes.');
                        }
                    }, 10);
                });
            }

            if (rankPurpleRunesButton && runeResultsContainer) {
                rankPurpleRunesButton.addEventListener('click', function () {
                    if (!window.DeckCardAnalysis || typeof window.DeckCardAnalysis.rankPurpleRunes !== 'function') {
                        renderRuneError('Deck analysis module is not available.');
                        return;
                    }

                    const deckInput = document.getElementById('deck1');
                    const deckHash = deckInput ? deckInput.value.trim() : '';
                    if (!deckHash) {
                        renderRuneError('Enter an attacker deck hash before ranking runes.');
                        return;
                    }

                    const simulations = Number.parseInt(simulationsInput.value, 10);
                    if (!Number.isFinite(simulations) || simulations <= 0) {
                        renderRuneError('Simulations per duel must be a positive number.');
                        return;
                    }

                    runeResultsContainer.innerHTML = '<p>Calculating...</p>';

                    window.setTimeout(() => {
                        try {
                            const summary = window.DeckCardAnalysis.rankPurpleRunes(deckHash, simulations);
                            renderRuneResults(summary.results);
                        } catch (error) {
                            console.error(error);
                            renderRuneError(error && error.message ? error.message : 'An unexpected error occurred while ranking runes.');
                        }
                    }, 10);
                });
            }

            if (optimizeButton && replacementsInput && stepsContainer) {
                optimizeButton.addEventListener('click', function () {
                    if (!window.DeckCardAnalysis || typeof window.DeckCardAnalysis.optimizeDeck !== 'function') {
                        renderOptimizationError('Deck optimisation module is not available.');
                        return;
                    }

                    const deckInput = document.getElementById('deck1');
                    const deckHash = deckInput ? deckInput.value.trim() : '';
                    if (!deckHash) {
                        renderOptimizationError('Enter an attacker deck hash before optimising cards.');
                        return;
                    }

                    const replacementsHash = replacementsInput.value.trim();
                    if (!replacementsHash) {
                        renderOptimizationError('Enter a replacement deck hash to optimise the deck.');
                        return;
                    }

                    const simulations = Number.parseInt(simulationsInput.value, 10);
                    if (!Number.isFinite(simulations) || simulations <= 0) {
                        renderOptimizationError('Simulations per duel must be a positive number.');
                        return;
                    }

                    stepsContainer.innerHTML = '<p>Calculating...</p>';

                    window.setTimeout(() => {
                        try {
                            const summary = window.DeckCardAnalysis.optimizeDeck(deckHash, replacementsHash, simulations);
                            renderOptimizationSteps(summary);
                        } catch (error) {
                            console.error(error);
                            renderOptimizationError(error && error.message ? error.message : 'An unexpected error occurred during optimisation.');
                        }
                    }, 10);
                });
            }
        })();
    </script>
    <script src="register-worker.js"></script>
</body>
</html>
